<div class="container">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <div class="row col-sm-7">
        <h1>Relatorio {{TipoPDf}}</h1>
        <br>
        <h2>Professor: {{NomeProfessor}}</h2>
        <h2>Aluno: {{NomeAluno}}</h2>
        
        


    </div>
</div>

