<div class="container">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <div class="row col-sm-7">
        <h3>Recuperação de senha</h3>
        
        <br /><br />
        
        <label>Olá, Sr(a) <span style="font-weight: bold;">{{user}}</span>,</label><br /><br />
        
        <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Acesse o link abaixo para recuperar sua senha </label>
        
        <br /><br /><br />
        
        <a href="{{link}}" style="font-weight: bold;">João Pessoa Fit - Recuperação de senha</a>

        <br />
        <br />
        <hr style="border: 1px solid;"/>
        
        <div class="row">
            <img src="{{imageUrl}}/images/logos/pmjp-footer-email.jpg" style="width: 300px"/>
        </div>
    </div>
</div>

